{% extends "common/base.html" %}
{% load crispy_forms_tags talentshow_tags %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <h3 class="module-header">About</h3>
        <p>Come watch your fellow classmates shine on stage during the Senior Talent Show! Enjoy performances of all kinds and celebrate the creativity and diverse talents of our class. Get ready to laugh and reminisce with throwbacks to the Freshman Talent Show. Tickets are required, but they are free and available at the entrance to Sanders Theatre on a first-come, first-served basis on the night of the event.</p>
</p>
    </div>
    <div class="col-md-4">
        <h3 class="module-header">Questions?</h3>
        <p>If you have any questions, or to change your audition time, please email {% autoescape off %}{% talentshow_email %}{% endautoescape %}.</p>
    </div>
</div><!-- /.row -->

<div class="row">
    <div class="col-sm-12">
        <h3 class="module-header">Sign Up to Audition!</h3>
            {% if audition_signup_open %}
                {% crispy form %}
            {% else %}
                <p>All of our audition slots have been filled. Please email {% autoescape off %}{% talentshow_email %}{% endautoescape %} if you are still interested in auditioning, and we'll try to accommodate you.</p>
            {% endif %}
    </div>
</div>

<script>
    function toTitleCase(str)
    {
        return str.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
    }

    $('.js-signup-reminder-btn').on('click', function(e){
        e.preventDefault();
        $('.js-signup-reminder-form-error').remove();
        var $form = $('#audition-signup-reminder-form');
        var data = $form.serializeArray();
        $.ajax({
            type:"POST",
            url:"/talent-show/set-signup-reminder/",
            data: data,
            success: function(response){
                if (response.errors) {
                    $.each(response.errors, function(field, msg) {
                        var errorMessage = '<p class="alert alert-danger js-signup-reminder-form-error"><strong>' + toTitleCase(field.replace('_', ' ')) + ':</strong> ' + msg + '</p>';
                        $('.js-signup-reminder-container').prepend(errorMessage);
                    });
                } else {
                    var successMessage = "<p class='alert alert-success'><strong>Success!</strong> We'll send you an email when the sign-up form opens!</p>";
                    $('.js-signup-reminder-module-container').html(successMessage);
                }
            },
            error: function(xhr, textStatus, errorThrown){
                var errorMessage = '<p class="alert alert-danger js-signup-reminder-form-error">Sorry, an error occurred.</p>';
                $('.js-signup-reminder-container').prepend(errorMessage);
            }
        });
    });
</script>
{% endblock content %}