{% load static compress %}
{% load core_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="">

    <meta property="og:title" content="Harvard Senior Talent Show, Class of 2016" />
    <meta property="og:site_name" content="Harvard Senior Talent Show"/>
    <meta property="og:image" content="{{ SITE_URL }}{% static 'common/img/harvard-og.jpg' %}" />


    <link href="{% static 'common/fontawesome/css/font-awesome.min.css' %}" rel="stylesheet">

    <title>{% block title %}Senior Talent Show{% endblock %}</title>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    {% if not debug %}
    {% compress css %}
      <link rel="stylesheet" type="text/less" media="all" href="{{ STATIC_URL }}common/less/base.less" />
      <link rel="stylesheet" type="text/less" media="all" href="{{ STATIC_URL }}common/bootstrap/less/bootstrap.less" />
    {% endcompress %}
    {% else %}
      <link rel="stylesheet/less" type="text/css" media="all" href="{{ STATIC_URL }}common/less/base.less" />
      <link rel="stylesheet/less" type="text/css" media="all" href="{{ STATIC_URL }}common/bootstrap/less/bootstrap.less" />
      <script src="{% static 'common/js/less-1.7.3.min.js' %}"></script>
    {% endif %}

    {# STATIC FILES #}
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script src="{% static 'common/js/jquery.scrollTo.min.js' %}"></script>
  <script src="{% static 'common/js/smooth_scroll.js' %}"></script>
  <script src="{% static 'common/js/instafeed.min.js' %}"></script>
  <script src="{% static 'common/js/main.js' %}"></script>
  </head>

  <body>



<div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
                  <div class="social-icons pull-left smallscreen-only fa-lg">
              <span class="fa-stack facebook-icon">
                <a href="http://www.facebook.com/harvard16" target="_blank">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x"></i>
                </a>
                </span>
              </div>

        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            {% include "common/menu.html" with request=request %}

            {% comment %}
            dropdown example:
            <li class="dropdown {% # navactive request 'url-name' %}">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Title <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="{% # navactive request 'url-name' %}"><a href="{% url 'url-name' %}">Page Title</a></li>
              </ul>
            </li>
            {% endcomment %}
            {% if user.is_admin %}
              <li><a href="/admin">Admin</a></li>
            {% endif %}

          </ul>
            <ul class="nav navbar-nav social-icons pull-right desktop-only">
              <li>
              <span class="fa-stack facebook-icon fa-lg">
                <a href="http://www.facebook.com/harvard16/" target="_blank">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x"></i>
                </a>
                </span>
              </li>
            </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </div><!-- /.navbar -->
    <div class="header-home">
      <div class="header-img-home-wrapper">
      </div>
    </div>

            
    {% block before_content %}{% endblock before_content %}

  <div class="body-content">
    <div class="container content-container">

      <div class="messages">
      {% for message in messages %}
        <div class="alert alert-warning">{{ message }}</div>
      {% endfor %}
      </div>
      
      {% block content %}{% endblock %}

    </div><!-- /.container -->
  </div>


  <div class="footer row">
      <div class="col-sm-6">
      </div>
      <div class="col-sm-6">
        <div class="crimson-logo pull-right desktop-only"></div>
      </div>
  </div>


  </body>
</html>