{% extends 'common/emails/alert_base.html' %}
{% block meta_title %}{{ title }}{% endblock %}
{% block alert_level %}cks{% endblock %}
{% block heading %}Senior Talent Show Audition{% endblock %}
{% block inner_content %}
    <tr>
        <td class="content-block">
            Hi {{ auditioner.first_name }},
        </td>
    </tr>
    <tr>
        <td class="content-block">
            I'm sorry to say that you were not selected to perform in the Senior Talent Show. We thank you for your time and for sharing your talent with us. We wish you luck as you settle in at Harvard, and we look forward to seeing you perform in other spaces on campus soon!
        </td>
    </tr>
    <tr>
        <td class="content-block">
            Thanks,<br />
            Catarina Martinez
        </td>
    </tr>
{% endblock %}